.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  height: calc(100vh - 100px); /* 减去 header 和 toolbar 的高度 */
}

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--font-size-large);
  font-weight: bold;
  padding: 10px;
}

.toolbar {
  display: flex;
  background-color: var(--secondary-color);
  padding: 10px;
}

.toolbar button {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
  transition: background-color 0.3s ease;
}

.toolbar button:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.sidebar {
  width: 200px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
}

.canvas {
  flex: 1;
  background-color: black;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.right-sidebar {
  min-width: 280px;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 当内容溢出时，出现垂直滚动条 */
}

.right-sidebar > * {
  flex-shrink: 0;
}

.gauge-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}